<div class="input-group mb-3">
  <span class="input-group-text"><i class="fa-solid fa-calendar"></i></span>
  <div class="form-floating">
    <input placeholder="{{placeholder}}" type="datetime-local" class="form-control" id="{{id}}" name="time" required value="{{moment (now) 'YYYY-MM-DDTHH:mm'}}"/>
    <label for="{{id}}">{{placeholder}}</label>
  </div>
</div>